name: Run All Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docker/**'
      - '.github/**'
      - 'README.md'
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run Global Tests
        run: |
          chmod +x ./run-all-tests.sh
          ./run-all-tests.sh

      - name: CI Completion
        if: always()
        run: echo "CI tests completed."
